version: '3.8'

services:
  # PostgreSQL
  postgres:
    image: postgres:15-alpine
    container_name: mind_postgres_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # NestJS
  app:
    build: .
    container_name: mind_nest_js
    restart: always
    ports:
      - "${PORT}:3000"
    env_file:
      - .env
    environment:
      DB_HOST: postgres
    depends_on:
      - postgres

volumes:
  postgres_data: